<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Página segura</title>
</head>

<body>


    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Página segura</h1>

            <form th:name="fetch-clients" th:action="@{/clients}" th:attr="method='POST'">
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary">App Clients</button>
                </div>
            </form>
        </div>

        <hr>

        <div th:unless="${error==null}">

            <table class="table table-sm table-hover table-responsive-sm ">
                <thead>
                    <tr>
                        <th scope="col">Status Code</th>
                        <th scope="col">Error</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" th:text="${error.statusCode}"></th>
                        <td th:text="${error.body}"></td>

                    </tr>

                </tbody>
            </table>

        </div>


        <div th:if="${error==null}">
            <table th:if="${not #lists.isEmpty(clients)}" class="table table-sm table-hover table-responsive-sm ">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Redirect URI</th>
                        <th scope="col">Scope</th>
                        <th scope="col">Access Token Validity</th>
                        <th scope="col">Refresh Token Validity</th>
                        <th scope="col">Resource Ids</th>
                        <th scope="col">Grant Types</th>
                        <th scope="col">Authorities</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c: ${clients}">
                        <th scope="row" th:text="${c.id}"></th>
                        <td th:text="${c.redirect}"></td>
                        <td th:text="${c.scope}"></td>
                        <td th:text="${c.accessTokenValidity}">Otto</td>
                        <td th:text="${c.refreshTokenValidity}">Otto</td>
                        <td th:text="${c.resourceIds}">Otto</td>
                        <td th:text="${c.grantTypes}">Otto</td>
                        <td th:text="${c.authorities}">Otto</td>
                    </tr>

                </tbody>
            </table>

        </div>



    </div>



    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>